@use 'sass:color';

$color-selected: #4f4f4f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  margin-top: 2em;
  width: 50vw;
  height: 70vh;
  text-align: center;

  .day {
    width: calc(100% / 7);
    height: 3em;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    line-height: 3em;
    &:hover {
      cursor: pointer;
      color: #FF7B60;
    }
    .pickedDay {
      font-weight: bold;
      background-color: $color-selected;
      color: #ffffff;
      border-radius: 3px;
      box-shadow: 1px 1px 3px darken($color-selected, 20);
    }
    .today {
      border: 1px solid darken($color-selected, 20);
      border-radius: 3px;
    }
    .yesterday {
      color: lighten($color-selected, 20);
    }
  }
}